ExternalLibraries
imgui.ini
.DS_Store
*.xcodeproj
.vs/
Debug/
Dependencies/
GLFW_example.cpp
Glut_example.cpp
SFML_example.cpp
Simulacra.sln
Simulacra.vcxproj
Simulacra.vcxproj.filters
Simulacra.vcxproj.user
freeglut.dll
glew32.dll
imgui-SFML.cpp
imgui.cpp
imgui_draw.cpp
imgui_widgets.cpp
openal32.dll
sfml-audio-2.dll
sfml-audio-d-2.dll
sfml-graphics-2.dll
sfml-graphics-d-2.dll
sfml-network-2.dll
sfml-network-d-2.dll
sfml-system-2.dll
sfml-system-d-2.dll
sfml-window-2.dll
sfml-window-d-2.dll
x64/

